body{
    background-image:url("pingpong.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.form{
    width: 60%;
    height: 350px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h1{
    padding-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color:gainsboro;
}

.restart{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 20%;
    color: white;
    height: 10%;
    background-color: darkgray;
}